*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;/*altura 100 por cento da tela*/
    box-sizing: border-box;
    background-color: #FEF3E2;
    color: #606676;
}

.titulo-destaque{
    color: #708871;
}